<!DOCTYPE html>
<html>
  <head>
    <title>系统界面</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/jquery.min.js" type="text/javascript"></script>
  </head>
  <body>
	<h1>股票交易系统</h1>
    欢迎  <%= username %>
  </body>
