<div class="row">
    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">
                讨论区
            </h3>
            <div class="box-tools">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
            </div>
        </div>
        <div class="box-footer box-comments">

            <div class="box-footer">
                <form onsubmit="return postComment();">
                    <img class="img-responsive img-circle img-sm" src="http://www.iconninja.com/files/111/870/406/user-people-profile-human-account-avatar-icon.png" alt="Alt Text">
                    <!-- .img-push is used to add margin to elements next to floating images -->
                    <div class="img-push">
                        <input id="inputComment" type="text" class="form-control input-sm" placeholder="Press enter to post comment">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>

    function isSuccess(status) {
        return status === 'success';
    }
    
    function clearComments() {
        $('.box-comments').remove('.box-comment')
        $('#inputComment').val('')
    }

    function getComments() {
        $.post('/stocks/comment/' + code, (data, status) => {
            if( isSuccess(status) ){

            }else{
                console.log("status = " + status)
            }
        })
    }

    function postComment() {
        let content = document.getElementById('inputComment').value;
        let user = 'tester'
        $.post('/stocks/comment/' + code, {
            user: user,
            text: content
        }, (data, status) => {
            if( isSuccess(status) ){
                if( data.success ){       // post comment successfully
                    console.log("post success")
                    clearComments()
                    buildCommentTable()
                }else{
                    console.log(data)
                }
            }else{
                console.log("status = " + status)
            }
        });
        return false;
    }


</script>
