<div class="box-comment">
    <!-- User image -->
    <img class="img-circle img-sm" src="http://www.iconninja.com/files/111/870/406/user-people-profile-human-account-avatar-icon.png" alt="User Image">

    <div class="comment-text">
                      <span class="username">
                        <%= comment.user %>
                        <span class="text-muted pull-right"><%= comment.date %></span>
                      </span><!-- /.username -->
        <p>
            <%= comment.content %>
        </p>
    </div>
    <ul class="list-inline">
        <li class="pull-right">
        <li><a href="#" class="link-black text-sm"><i class="fa fa-share margin-r-5"></i>回复</a></li>
        <li><a href="#" class="link-black text-sm"><i class="fa fa-thumbs-o-up margin-r-5"></i>赞(<%= comment.approval %>)</a>
        </li>
        </li>
    </ul>
    <!-- /.comment-text -->
</div>