<div class="box-comment">
    <!-- User image -->
    <img class="img-circle img-sm" src="../dist/img/user3-128x128.jpg" alt="User Image">

    <div class="comment-text">
                      <span class="username">
                        <%= name %>
                        <span class="text-muted pull-right"><%= time %></span>
                      </span><!-- /.username -->
        <p>
            <%= content %>
        </p>
    </div>
    <ul class="list-inline">
        <li class="pull-right">
        <li><a href="#" class="link-black text-sm"><i class="fa fa-share margin-r-5"></i>回复</a></li>
        <li><a href="#" class="link-black text-sm"><i class="fa fa-thumbs-o-up margin-r-5"></i>赞(<%= approval %>)</a>
        </li>
        </li>
    </ul>
    <!-- /.comment-text -->
</div>