<!DOCTYPE html>
<!--
This is a starter template page. Use this page to start your new project from
scratch. This page gets rid of all links and provides the needed markup only.
-->
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>市场行情</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <!-- Bootstrap 3.3.6 -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
  <!-- Ionicons -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="https://cdn.bootcss.com/admin-lte/2.3.11/css/AdminLTE.min.css">

  <!-- AdminLTE Skins. Choose a skin from the css/skins
       folder instead of downloading all of them to reduce the load. -->
  <link rel="stylesheet" href="https://cdn.bootcss.com/admin-lte/2.3.11/css/skins/_all-skins.min.css">

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/bootstrap-table.min.css">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>

<body class="hold-transition skin-blue layout-top-nav" onload="onload()">


<div class="wrapper">

    <% include layout %>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->


    <!-- Main content -->
    <section class="content">
      <!-- Your Page Content Here -->
      <div class="row">
        <div class="col-lg-12 col-xs-12">
          <div class="small-box bg-gray-light" style="color: black;">
            <div class="inner">
              <h3><span id="name">上证指数</span> (<span id="code">000001</span>)</h3>
              <table class="table table-no-bordered" id="index-info-table" data-classes="table table-no-bordered"></table>
            </div>
            <div class="icon">
              <i class="ion ion-stats-bars"></i>
            </div>

          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-4 col-xs-12">
          <div class="box box-solid">
            <div class="box-header with-border">
              <h3 class="box-title">大陆市场</h3>
            </div>
            <div class="box-body" id="curve-day">
            </div>
            <table class="table table-no-bordered" id="index-list-table" data-classes="table table-no-bordered"></table>
            <div class="small-box bg-aqua">
              <a class="small-box-footer" href="indexlistinfo.html">查看所有指数 <i class="fa fa-arrow-circle-right"></i>
              </a>
            </div>


          </div>
        </div>
        <div class="col-lg-5 col-xs-12">
          <div class="box box-solid">
            <div class="box-header with-border bg-gray-light">
              <h3 class="box-title">市场直击</h3>
              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse">
                  <i class="fa fa-minus"></i>
                </button>
              </div>
            </div>
            <div class="box-body">
              <table data-classes="table table-no-bordered"
                     data-show-header="false"
                     id="financial-news-table"></table>
            </div>
            <div class="small-box bg-aqua">
              <a class="small-box-footer" href="#">查看更多新闻 <i class="fa fa-arrow-circle-right"></i>
              </a>
            </div>
          </div>

        </div>
        <div class="col-lg-3 col-xs-12">
          <div class="box box-solid">
            <div class="box-header with-border bg-gray-light">
              <h3 class="box-title">股票</h3>
              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse">
                  <i class="fa fa-minus"></i>
                </button>
              </div>
            </div>

            <div class="box-body">
              <ul class="nav nav-tabs bg-gray-light nav-justified" id="personal-stock-tab">
                <li><a data-toggle="tab" href="#history-table-tab">历史</a> </li>
                <li class="active"><a data-toggle="tab" href="#personal-table-tab">自选</a> </li>
              </ul>

              <div class="tab-content">
                <div class="tab-pane fade" id="history-table-tab">
                  <!--<table id="history-table" data-show-header="false"></table>-->
                  <% include history-table %>

                </div>
                <div class="tab-pane fade in active" id="personal-table-tab">
                  <table id="personal-table" data-show-header="false"></table>

                </div>
              </div>
            </div><!-- /.box-body -->
          </div><!-- /.box -->
        </div>
      </div>
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  <% include footer.ejs %>
  <!-- Add the sidebar's background. This div must be placed
  immediately after the control sidebar -->
</div>
<!-- ./wrapper -->

<!-- REQUIRED JS SCRIPTS -->


<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
<!-- Bootstrap 3.3.6 -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<!-- SlimScroll -->
<!--<script src="../../plugins/slimScroll/jquery.slimscroll.min.js"></script>-->
<!-- FastClick -->
<!--<script src="../../plugins/fastclick/fastclick.js"></script>-->
<!-- AdminLTE App -->
<script src="/dist/js/app.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/bootstrap-table.min.js"></script>

<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/locale/bootstrap-table-zh-CN.min.js"></script>
<!-- <script type="text/javascript" src="https://cdn.hcharts.cn/jquery/jquery-1.8.3.min.js"></script> -->
<script src="https://cdn.hcharts.cn/highstock/5.0.10/highstock.js"></script>
<script src="https://cdn.hcharts.cn/highstock/5.0.10/modules/exporting.js"></script>

<script src="/application/home.js"></script>
<!-- Optionally, you can add Slimscroll and FastClick plugins.
     Both of these plugins are recommended to enhance the
     user experience. Slimscroll is required when using the
     fixed layout. -->
</body>
</html>
