div.mask {  position: absolute; filter: alpha(opacity=60); background-color: #777;     
            z-index: 1002;    
            opacity:0.5; -moz-opacity:0.5;  top: 0%;
            left: 0%;
            width: 100%;
            height: 100%; 
        }